{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}


<!-- flashing message -->
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message_to_be_flashed in messages %}
<div class="alert alert-primary">
    <strong>{{ message_to_be_flashed }}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}
</p>

<!-- file input -->
<form method="post" action="/upload" enctype="multipart/form-data">
    <!-- <p>File Name : <input type="text" name="txtusername" value="" placeholder="Enter file name" required> </p>  -->
    <p><input type="file" name="inputFile" autocomplete="off" required></p>
    <p><input type="submit" value="Submit"></p>
</form>

<!-- on change event for file is removed  -->
<!-- <script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) 
    }
  };
</script> -->
{% endblock %}